.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureIcon {
  font-size: 4rem;
  margin: 0 auto 1rem;
  display: block;
  line-height: 1;
}
